* {
  padding: 0px;

  font-family: "Montserrat", sans-serif;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.mobileImg {
  display: none;
}
.div-left {
  width: 280px;
  background-color: white;
}
.div-right {
  width: 280px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
#chanel-img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

@media only screen and (max-width: 425px) {
  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 100%;
    height: 100%; /* Add this if you want it to take full width */
  }
  .div-left {
    width: 320px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .div-right {
    border-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .mobileImg {
    display: flex;
    max-width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .desktopImg {
    display: none;
  }

  /* Move the closing bracket here */
}

/* Move the styles for .container outside the media query */
.container {
  width: 560px;
  height: 420px;
  display: flex;
  border-radius: 15px;
}

p {
  font-size: 14px;
}

h1 {
  margin-top: 2px;
  margin-bottom: 2px;
  font-family: "Fraunces", serif;
}

#money {
  display: flex;
  align-items: center;
}

.customColorG {
  color: hsl(228, 12%, 48%);
}

.customColorV {
  color: hsl(158, 36%, 37%);
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  text-align: center;
  width: 90%;
  height: 50px;
  display: flex;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-top: 20px;
}

button:hover {
  background-color: hsl(214, 25%, 27%);
}

#moneyTitle {
  margin-right: 40px;
}
